nav {
  height: 100px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

/* fixing nav in place */
nav span {
  display: inline-block;
  position: absolute;
  align-items: flex-end;
  font-family: 'Bungee', cursive;
  font-size: 45px;
  padding-top: 0.8em;

}

/* compose elements  */
nav div.right-side-content {
  float: right;
  padding-top: 1.7em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

nav div.arrow {
  color: red;
  text-align: center;
  animation: updown 1s linear infinite;
}

nav div.arrow:hover {
  color: crimson;
}

/* arrow animation function  */
@keyframes updown {
  0% {
    transform: translateY(-8%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-8%);
  }
}
/* tablet  */
@media only screen and (min-width: 500px) and (max-width: 1023px) {
  nav {
    background-color: #cc7000;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  }
}

/* mobile  */
@media only screen and (max-width: 499px) {
  nav span {
    font-size: 32px;
  }

  nav {
    padding-left: 22px;
    height: 80px;
  }

  nav div.right-side-content {
    font-size: 16px;
    padding-top: 34px;
  }
}
